header {
    height:100vh;
    min-height:400px;
    background-size:cover;
    background-image:url('../assets/main-building-home.jpg');
background-position: center center;
    
  }

header::before{    
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right,#002f4b,#000000);
    opacity: .3; 
      
}

.secondary-navbar{
    margin-top: 50px;
    cursor: pointer;  

}

.header-text{
  position: absolute;
  color: white;
  font-size: 24px;
  font-weight: bold;
  left: 20px;
  bottom: 20px;
	background: #ab5a4f;
    opacity: .8; 


}
	

footer{
color: white;
    background-image:url('../assets/footer.jpg');


}
.stuff{
	margin: 4px;
}
.events-manager{
  text-align: center;
}
.notice-nav{
margin: 10px;
margin-bottom: 20px;
}
.coloritrandom{
  background: skyblue;

}
.center{
text-orientation: center;
margin-left: 10px;
}
.footer-info{
float: right;
overflow: hidden;

}

.image-card{
width: 100%;
height: auto;

}
.caption{
  
}

.first-row{
  margin-top: 25px;
}